/* CSS commun aux 3 pages */
#mapid {
    height: 400px;
    width: 100%;
}


html {
    background-image: url("fond6.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

html::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: radial-gradient( white, #d0b1e7, #1c031c 60%);
    width: 100%;
    height: 100vh;
    opacity: 90%;
    mix-blend-mode: screen; /* mode de fusion pour ajouter de la lumière */
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #E6E6E6;
    margin: 100px 300px;
    padding: 10px 5px 20px 5px;
    font-family: arial;
}

.bouton-vert {
    margin: auto;
    padding: 5px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Calibri Light";
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
}

/* ------------------------------Page Index------------------------------------- */

/* Style pour le positionnement de la carte */
#mapid{
    margin: 10px auto 20px auto;
}

/* Style pour le positionnement du bouton */
#bouton-inscription {
    margin: auto;
}

/* Style pour le tableau des festivals */
.tableau {
    width: 95%;
    margin: 10px auto 100px auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.haut-tableau {
    background-color: white;

}

.en-tete-tableau {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

/* Style pour les cellules du tableau */
.cellule {
    padding: 10px;
    font-size: 10px;
}

/* Style pour les lignes impaires du tableau */
tbody tr:nth-child(odd) {
    background-color: white;
}

/* ------------------------------Page Inscription------------------------------------- */

form{
    text-align: center;
}

form label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

form input{
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* ------------------------------Page Modification------------------------------------- */









