/* Import of a Google font api: */
@import url('https://fonts.cdnfonts.com/css/lemon-tuesday');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');



/*-----------------------------------------------CSS commun aux 3 pages-----------------------------------------------*/

html {
    background-image: url("fond6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: radial-gradient( white, #d0b1e7, #1c031c 60%);
    width: 100%;
    height: 100vh;
    opacity: 70%;
    mix-blend-mode: screen; /* merge mode to add light */
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-image: url("pngegg.png");
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
    border: 5px solid black;
    background-color: white;
    margin: 100px 300px;
    padding: 10px 5px 20px 5px;
    font-family: arial;
}

.bouton-vert {
    margin: 10px auto;
    padding: 5px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
}

h1 {
    text-align: center;
    font-size: 140px;
    font-family: 'Lemon Tuesday', sans-serif;
    color: black;
}

h2 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #b68ed7;
    font-size: 30px;
    font-weight: bolder;
}

p{
    text-align: center;
}

/* ----------------------------------------------------Index page---------------------------------------------------- */

.page-index {
    background-image: url("fond6.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.p-titre{
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 20px;
}

.h3-titre{
    text-align: center;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

/* Style for the positioning of the map */
#mapid{
    margin: 10px auto 20px auto;
    height: 400px;
    width: 100%;
}

/* Style for the positioning of the button */
#bouton-inscription {
    margin: auto;
}

/* Style for the table container */
.table-container {
    height: 400px;
    overflow-y: scroll;
}

/* Style for the festivals table */
.tableau {
    width: 95%;
    margin: 10px auto 100px auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.haut-tableau {
    background-color: white;
}

.en-tete-tableau {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

th.sortable:hover {
    cursor: pointer;
}

/* Style for the table cells */
.cellule {
    padding: 10px;
    font-size: 15px;
}

/* Style for the odd lines of the table */
tbody tr:nth-child(odd) {
    background-color: #c4b0d0;
}

/* Style for the "Edit" button */
.bouton-editer {
    background-color: black;
    color: white;
    width: 45px;
    margin: auto;
    font-size: 10px;
}


/* ------------------------------------------Registration & Modification page-----------------------------------------*/

form{
    text-align: center;
}

form label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

form input{
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* -------------------------------------------------Modification page------------------------------------------------ */


.bouton-rouge{
    margin: auto;
    padding: 5px;
    border: 1px solid darkred;
    border-radius: 5px;
    background-color: indianred;
    color: white;
    font-weight: bold;
}

.paragraphe{
    text-align: center;
}