*{

}

.main-index{
    background-color: lightgrey;
    margin: 200px;
}

h1{
    text-align: center;
}

.bouton-vert{
    width: auto;
    text-align: center;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
}

/* Style pour le tableau */
.tableau {
    width: 80%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin: 300px auto 300px 100px;

}

/* Style pour l'en-tête */
.haut-tableau {
    background-color: white;
}

.en-tete-tableau {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #ddd;
}

/* Style pour les cellules */
.cellule {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Style pour les lignes impaires */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
