<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesFestivals.css">
    <title>Page d'accueil</title>
</head>
<body>

    <header>
        <h1>Page d'accueil</h1>
    </header>

    <main class="main-index">
        <h1>Les festivals de votre région</h1>
        <input class="bouton-vert" type="submit" value="Ajouter un festival" />
        <table class="tableau">
            <thead class="haut-tableau">
            <tr>
                <th class="en-tete-tableau">Nom</th>
                <th class="en-tete-tableau">Ville</th>
                <th class="en-tete-tableau">Lieu</th>
                <th class="en-tete-tableau">Début</th>
                <th class="en-tete-tableau">Fin</th>
                <th class="en-tete-tableau"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="festival : ${festivals}">
                <td class="cellule" th:text="${festival.nom}"></td>
                <td class="cellule" th:text="${festival.ville}"></td>
                <td class="cellule" th:text="${festival.lieu}"></td>
                <td class="cellule" th:date="${festival.dateDebut}"></td>
                <td class="cellule" th:date="${festival.dateFin}"></td>
                <td> <input type="submit" value="Editer" /></td>
            </tr>
            </tbody>
        </table>
    </main>

</body>
</html>