<!DOCTYPE html>
<html lang="fr" class="page-index">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="/stylesFestivals.css">
    <link href="https://fonts.cdnfonts.com/css/lemon-tuesday" rel="stylesheet">
    <title>Page d'accueil</title>
</head>
<body>

<header>
    <p class="p-titre">Le Télégramme présente<p>
    <h1>Breizh Festivals Summer</h1>
    <h3 class="h3-titre">Le site des Festivals Bretons</h3>
</header>

<main class="main-index">

    <h2>Carte des festivals de votre région</h2>
    <div id="mapid"></div>
    <a id="bouton-inscription" href="/inscription"><input class="bouton-vert" type="submit"
                                                          value="Ajouter un festival"/></a>

    <div class="table-container">
        <table class="tableau">
            <thead class="haut-tableau">
            <tr>
                <th class="en-tete-tableau sortable">Nom</th>
                <th class="en-tete-tableau sortable">Ville</th>
                <th class="en-tete-tableau">Lieu</th>
                <th class="en-tete-tableau sortable">Début</th>
                <th class="en-tete-tableau">Fin</th>
                <th class="en-tete-tableau"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="festival : ${festivals}">
                <td class="cellule sortable" th:text="${festival.nom}"></td>
                <td class="cellule" th:text="${festival.ville}"></td>
                <td class="cellule" th:text="${festival.lieu}"></td>
                <td class="cellule" th:text="${festival.dateDebut}"></td>
                <td class="cellule" th:text="${festival.dateFin}"></td>
                <td>
                    <form th:action="@{/modification}" method="get">
                        <input type="hidden" name="id" th:value="${festival.id}"/>
                        <input class="bouton-editer" type="submit" value="Editer"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/Javascript/index.js"></script>
</body>
</html>