<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="/stylesFestivals.css">
    <link href="https://fonts.cdnfonts.com/css/lemon-tuesday" rel="stylesheet">
    <title>Ajouter un festival</title>
</head>
<body>
<header>
    <h1>Breizh Festivals Summer</h1>
</header>

<main>
    <section>
        <h2>Saisisez les données du festival</h2>
        <br>
        <p>Cliquez sur la carte pour localiser le lieu du festival</p>
        <div id="mapid"></div>
    </section>
    <form class="inscription" th:action="@{/inscription}" th:object="${festival}" method="post">

        <label>Nom :</label>
        <input type="text" th:field="*{nom}" required/>
        <br>

        <label>Ville :</label>
        <input type="text" th:field="*{ville}" required/>
        <br>

        <label>Code postal :</label>
        <input type="number" th:field="*{cp}" required/>
        <br>

        <label>Lieu :</label>
        <input type="text" th:field="*{lieu}" required/>
        <br>

        <label>Date de début :</label>
        <input type="date" th:field="*{dateDebut}"/>
        <br>

        <label>Date de fin: :</label>
        <input type="date" th:field="*{dateFin}"/>
        <br>

        <label>Latitude :</label>
        <input type="number" th:field="*{latitude}" step="any" required/>
        <br>

        <label>Longitude :</label>
        <input type="number" th:field="*{longitude}" step="any" required/>
        <br>

        <label>Url :</label>
        <input type="text" th:field="*{url}"/>
        <br>

        <input class="bouton-vert" type="submit" value="Enregistrer"/>
    </form>

    <p class="p-retour">Pour retourner sur la page d'accueil, cliquez <a href="/"/> ici </a>!</p>
</main>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/Javascript/inscription.js"></script>
</body>
</html>