<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesFestivals.css">
    <link href="https://fonts.cdnfonts.com/css/lemon-tuesday" rel="stylesheet">
    <title>Editer un festival</title>
</head>

<header>
    <h1>Breizh Festivals Summer<span>.com</span></h1>
</header>

<body>
    <main>
        <h2>Mettez ici à jour des données du festival:</h2>
        <form class="modification" th:action="@{/modification}" th:object="${festival}" method="post">

            <label>Nom :</label>
            <input type="text" th:field="*{nom}" required/>
            <br>

            <label>Ville :</label>
            <input type="text" th:field="*{ville}" required/>
            <br>

            <label>Code postal :</label>
            <input type="number" th:field="*{cp}" required/>
            <br>

            <label>Lieu :</label>
            <input type="text" th:field="*{lieu}" required/>
            <br>

            <label>Date de début :</label>
            <input type="text" th:field="*{dateDebut}"  placeholder="jj/mm/aaaa" required/>
            <br>

            <label>Date de fin: :</label>
            <input type="text" th:field="*{dateFin}"  placeholder="jj/mm/aaaa" required/>
            <br>

            <!-- Ajout du champ caché pour stocker l'ID du festival -->
            <input type="hidden" th:field="*{id}" required/>

            <input class="bouton-vert" type="submit" value="Enregistrer" />
        </form>
        <br>
        <p class="paragraphe">Si vous souhaitez supprimer définitivement le festival, cliquez ici:</p>
        <form th:action="@{/suppression}" th:object="${festival}" method="post">
            <!-- Ajout du champ caché pour stocker l'ID du festival -->
            <input type="hidden" th:field="*{id}" />
            <input type="submit" class="bouton-rouge" value="Supprimer le festival" onclick="return confirm('Voulez-vous vraiment supprimer ce festival ?')" />
        </form>
</main>

</body>
</html>